
<section id="t-mobile-benefits-links" class="grid">
	<h2>T-Mobile's Benefits are robust.</h2>
	<div class="wrapper">
		<a href="/t-mobile/cash-comp" class="button button--outline">Cash Comp</a>
		<a href="/t-mobile/holidays" class="button button--outline">Holidays</a>
		<a href="/t-mobile/paid-time-off" class="button button--outline"
			>Paid Time Off</a
		>
		<a href="/t-mobile/stock-comp" class="button button--outline">Stock Comp</a>
		<a href="/t-mobile/401k" class="button button--outline">401(k)</a>
		<a href="/t-mobile/insurance" class="button button--outline">Insurance</a>
		<a href="/t-mobile/other-benefits" class="button button--outline"
			>Other Benefits</a
		>
		<a href="/t-mobile/insights" class="button button--outline"
			>T-Mobile Insights</a
		>
	</div>
</section>
