// Background control utilities
.background-1 {
	background-color: var(--background-1);
}

.background-2 {
	background-color: var(--background-2);
}

.background-3 {
	background-color: var(--background-3);
}

.background-4 {
	background-color: var(--background-4);
}

.background-5 {
	background-color: var(--background-5);
}
