// collection of layout related utility classes
.flex-column {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: var(--flow-space, 1rem);
}

.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.justify-content-center {
	justify-content: center;
}
