// collection of layout related utility classes
.grid {
	display: grid;
}

.flex-column {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}
