.header-text {
	font-family: "Paradisian Serif", serif;
	font-variant-ligatures: common-ligatures discretionary-ligatures;
	font-weight: bold;
}

.subheader-text {
	font-family: "Paradisian Serif", serif;
	font-variant-caps: small-caps;
	font-variant-ligatures: common-ligatures;
	font-weight: bold;
}

.text-align-center {
	text-align: center;
}