/**
 * WRAPPER
 * Sets a max width, adds a consistent gutter and horizontally
 * centers the contents
 */
.wrapper {
	max-width: 90rem;
	padding-inline: 1.25rem;
	margin-inline: auto;
	position: relative;
}
