{% extends "layouts/base.html" %}

{% block content %}
<section class="hero">
	<div class="hero__content wrapper">
	{%- if hero.image -%}
	<img src="/images/{{hero.image}}" alt="{{hero.imageAlt}}" />
	{%- endif -%}
	{%- if hero.headline -%}
	<h2 class="header-text">{{ hero.headline }}</h2>
	{%- endif -%}
	{%- if hero.text -%}
	<p>{{ hero.text | safe }}</p>
	{%- endif -%}
	<div class="hero__ctas">
		<a class="button" href="{{hero.cta.url}}">{{hero.cta.text}}</a>
	</div>
	</div>
</section>
{% include "partials/logo-strip.html" %}
<section id="questions">
	<div class="wrapper">
		<h2 class="text-align-center">Like other tech employees, do you wonder:</h2>
		<div class="grid">
			<div class="flex-column | text-align-center">
				<p class="flex-column__label">401K</p>
				<p class="flex-column__text">How much to contribute to 401(k)?</p>
			</div>
			<div class="flex-column | text-align-center">
				<p class="flex-column__label">ESPP</p>
				<p class="flex-column__text">Whether to participate in the ESPP?</p>
			</div>
			<div class="flex-column | text-align-center">
				<p class="flex-column__label">RSUs</p>
				<p class="flex-column__text">What to do with Restricted Stock Units?</p>
			</div>
			<div class="flex-column | text-align-center">
				<p class="flex-column__label">HSA</p>
				<p class="flex-column__text">Whether to fund an HSA?</p>
			</div>
		</div>
	</div>
</section>
<div class="page-content wrapper flow">
	{{ content | safe }}
</div>
<section id="planning">
	<div class="wrapper">
		<h2 class="text-align-center">Here's how the financial planning process works:</h2>
		<div class="grid">
			<div class="flex-column | text-align-center">
				<img src="/images/illustrations/free-consultation-fnl.png" alt="" />
				<p class="flex-column__label">1. Free Consultation</p>
				<p class="flex-column__text">How much to contribute to 401(k)?</p>
			</div>
			<div class="flex-column | text-align-center">
				<img src="/images/illustrations/roadmap-fnl.png" alt="" />
				<p class="flex-column__label">2. Draft a roadmap</p>
				<p class="flex-column__text">Whether to participate in the ESPP?</p>
			</div>
			<div class="flex-column | text-align-center">
				<img src="/images/illustrations/detailed-plan-fnl.png" alt="" />
				<p class="flex-column__label">3. Develop your plan</p>
				<p class="flex-column__text">What to do with Restricted Stock Units?</p>
			</div>
		</div>
		<div class="button-group">
			<a class="button" href="/howitworks/">Learn More</a>
		</div>
	</div>
</section>
<section id="pay">
	<div class="wrapper">
		<h2 class="text-align-center">Only pay for what <span class="bright-text">you</span> need!</h2>
		<p>You're never:</p>
		<ul>
			<li>Surprised by fees</li>
			<li>Required to move assets</li>
			<li>Charged more just because you have more</li>
		</ul>
		<div class="button-group">
			<a class="button" href="/whatitcosts/">$250 / hour</a>
		</div>
	</div>
</section>
<section class="logo-strip-container">
	<div class="wrapper">
		<p>Trusted by employees at:</p>
		<div class="logo-strip">
			<img src="/images/third_party_logos/t-mobile.webp" alt="T-Mobile" />
			<img src="/images/third_party_logos/microsoft.webp" alt="Microsoft" />
			<img src="/images/third_party_logos/meta.webp" alt="Meta" />
			<img src="/images/third_party_logos/amazon.webp" alt="Amazon" />
			<img src="/images/third_party_logos/service-now.webp" alt="Service Now" />
			<img src="/images/third_party_logos/blue-origin.webp" alt="Blue Origin" />
			<img src="/images/third_party_logos/oracle.webp" alt="Oracle" />
			<img src="/images/third_party_logos/boeing.webp" alt="Boeing" />
		</div>
	</div>
</section>
<section id="values" class="">
	<div class="wrapper">
		<h2>What do these mean for you?</h2>
		{% if valuesAccordion %}
		<div id="values-accordion" class="accordion-container">
			{% for v in valuesAccordion %}
			<details class="faq-item flow" name="{{ section.title | slugify }}">
				<summary>{{ v.label }}</summary>
				{{ v.body | safe }}
			</details>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</section>
<section class="logo-strip-container">
	<div class="wrapper">
		<p>Part of a well-connected network:</p>
		<div class="logo-strip">
			<a href="https://www.letsmakeaplan.org/find-a-cfp-professional/certified-professional-profile/caf67f5a-6b28-4420-a6de-ad2ece5655e2">
				<img src="/images/third_party_logos/cfp-signature-vert-gold.webp" alt="Certified Financial Planner" />
			</a>
			<div class="logo-strip-item">
				<img src="/images/third_party_logos/CCFC.webp" alt="Certified College Financial Consultant" />
			</div>
			<a href="https://www.napfa.org/member/107334/38942">
				<img src="/images/third_party_logos/napfa.webp" alt="NAPFA Member" />
			</a>
			<a href="https://connect.xyplanningnetwork.com/find-an-advisor/kevin-estes-58443">
				<img src="/images/third_party_logos/xy-planning.webp" alt="XY Planning Network" />
			</a>
			<a href="https://westernwashingtonfinancialadvisorsnetwork.com/team-member/kevin-estes/">
				<img src="/images/third_party_logos/wwfan.webp" alt="Western Washington Financial Advisors Network" />
			</a>
			<a href="https://www.feeonlynetwork.com/financial-advisor/kevin-estes/">
				<img src="/images/third_party_logos/fee-only.webp" alt="Fee-Only Network Member" />
			</a>
			<a href="https://wealthtender.com/financial-advisors/kevin-estes/">
				<img src="/images/third_party_logos/wealthtender.webp" alt="Featured on WealthTender" />
			</a>
			<a href="https://adviceonlynetwork.com/advisors/kevin-estes">
				<img src="/images/third_party_logos/advice-only-network.webp" alt="Advice-Only Network" />
			</a>
			<div class="logo-strip-item">
				<img src="/images/third_party_logos/soa.webp" alt="The Society of Advice" />
			</div>
			<a href="https://www.measuretwiceplanners.com/">
				<img src="/images/third_party_logos/measure-twice-planners.webp" alt="Measure Twice Planners" />
			</a>
			<a href="https://earlyretirementadvisors.org/">
				<img src="/images/third_party_logos/early-retirement-advisors.webp" alt="Early Retirement Advisors" />
			</a>
			<a href="https://samslist.co/advisor/scaled-finance-llc">
				<img src="/images/third_party_logos/samslist.webp" alt="Sam's List" />
			</a>
		</div>
	</div>
</section>
<div class="decorative-image-container">
	<img src="/images/decorative/home_interior.jpeg" alt="" loading="lazy" />
	<div class="shade"></div>
</div>
{% endblock %}
