{% extends "layouts/base.html" %}

{% block content %}
<section class="hero">
	<div class="hero__content wrapper">
	{%- if hero.image -%}
	<img src="/images/{{hero.image}}" alt="{{hero.imageAlt}}" />
	{%- endif -%}
	{%- if hero.headline -%}
	<h2 class="header-text">{{ hero.headline }}</h2>
	{%- endif -%}
	{%- if hero.text -%}
	<p>{{ hero.text | safe }}</p>
	{%- endif -%}
	<div class="hero__ctas">
		<a class="button" href="{{hero.cta.url}}">{{hero.cta.text}}</a>
	</div>
	</div>
</section>
{% include "partials/logo-strip.html" %}
<section id="questions">
	<div class="wrapper">
		<h2 class="text-align-center">Like other tech employees, do you wonder:</h2>
		<div class="grid">
			<div class="flex-column | text-align-center">
				<p class="flex-column__label">401K</p>
				<p class="flex-column__text">How much to contribute to 401(k)?</p>
			</div>
			<div class="flex-column | text-align-center">
				<p class="flex-column__label">ESPP</p>
				<p class="flex-column__text">Whether to participate in the ESPP?</p>
			</div>
			<div class="flex-column | text-align-center">
				<p class="flex-column__label">RSUs</p>
				<p class="flex-column__text">What to do with Restricted Stock Units?</p>
			</div>
			<div class="flex-column | text-align-center">
				<p class="flex-column__label">HSA</p>
				<p class="flex-column__text">Whether to fund an HSA?</p>
			</div>
		</div>
	</div>
</section>
<div class="page-content wrapper flow">
	{{ content | safe }}
</div>
<section id="planning">
	<div class="wrapper">
		<h2 class="text-align-center">Here's how the financial planning process works:</h2>
		<div class="grid">
			<div class="flex-column | text-align-center">
				<img src="/images/illustrations/free-consultation-fnl.png" alt="" />
				<p class="flex-column__label">1. Free Consultation</p>
				<p class="flex-column__text">How much to contribute to 401(k)?</p>
			</div>
			<div class="flex-column | text-align-center">
				<img src="/images/illustrations/roadmap-fnl.png" alt="" />
				<p class="flex-column__label">2. Draft a roadmap</p>
				<p class="flex-column__text">Whether to participate in the ESPP?</p>
			</div>
			<div class="flex-column | text-align-center">
				<img src="/images/illustrations/detailed-plan-fnl.png" alt="" />
				<p class="flex-column__label">3. Develop your plan</p>
				<p class="flex-column__text">What to do with Restricted Stock Units?</p>
			</div>
		</div>
		<div class="button-group">
			<a class="button" href="/howitworks/">Learn More</a>
		</div>
	</div>
</section>
<section id="pay">
	<div class="wrapper">
		<h2 class="text-align-center">Only pay for what <span class="bright-text">you</span> need!</h2>
		<p>You're never:</p>
		<ul>
			<li>Surprised by fees</li>
			<li>Required to move assets</li>
			<li>Charged more just because you have more</li>
		</ul>
		<div class="button-group">
			<a class="button" href="/whatitcosts/">$250 / hour</a>
		</div>
	</div>
</section>
<section class="logo-strip-container">
	<div class="wrapper">
		<p>Trusted by employees at:</p>
		<div class="logo-strip">
			<img src="/images/third_party_logos/t-mobile.webp" alt="T-Mobile" />
			<img src="/images/third_party_logos/microsoft.webp" alt="Microsoft" />
			<img src="/images/third_party_logos/meta.webp" alt="Meta" />
			<img src="/images/third_party_logos/amazon.webp" alt="Amazon" />
			<img src="/images/third_party_logos/service-now.webp" alt="Service Now" />
			<img src="/images/third_party_logos/blue-origin.webp" alt="Blue Origin" />
			<img src="/images/third_party_logos/oracle.webp" alt="Oracle" />
			<img src="/images/third_party_logos/boeing.webp" alt="Boeing" />
		</div>
	</div>
</section>
{% endblock %}
