@use "sass:map";
@use "vars";

.button {
	--button-padding-block: 1lh;
	--button-padding-inline: 2ch;
	
	align-items: center;
	background-color: var(--pink);
	border-radius: 12px;
	border: 0;
	color: var(--white);
	display: flex;
	font-size: var(--size-scale-400);
	justify-content: center;
	line-height: 1;
	padding-block: var(--button-padding-block);
	padding-inline: var(--button-padding-inline);
	position: relative;
	text-decoration: none;
	text-shadow: none; // don't inherit text shadow from parents
	transition: background-color .125s ease-in-out;
	width: fit-content;

	&:hover {
		background-color: var(--pink__dark);
		color: var(--white);
		cursor: pointer;
	}
	
	&:focus-visible {
		background: var(--pink__dark);
		color: var(--white);
		outline: 2px solid var(--pink__dark);
		outline-offset: 3px;
	}
}

.button--small {
	font-size: var(--size-scale-small);
	font-weight: 300;
	text-transform: uppercase;
}

ul.button-group,
.button-group {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: var(--flow-space, 0);
}
