@use "sass:map";
@use "vars";

.button {
	align-items: center;
	background-color: var(--pink);
	border-radius: 8px;
	border: 0;
	color: var(--white);
	display: flex;
	justify-content: center;
	line-height: 1;
	padding: 1rem 1.5rem;
	position: relative;
	text-decoration: none;
	text-shadow: none; // don't inherit text shadow from parents
	transition: background-color .125s ease-in-out;
	width: fit-content;

	&:hover {
		background-color: var(--pink__dark);
		color: var(--white);
		cursor: pointer;
	}
	
	&:focus-visible {
		background: var(--pink__dark);
		color: var(--white);
		outline: 2px solid var(--pink__dark);
		outline-offset: 3px;
	}
}

ul.button-group,
.button-group {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: var(--flow-space, 0);
}


@media screen and (min-width: map.get(vars.$breakpoints, "md")) {
	.button {
		font-size: var(--size-scale-500);
	}
}
