@use "sass:map";
@use "vars";

.site-header {
	background-color: var(--background-1);
	padding-block: 1.5rem;
	position: sticky;
	top: 0;
	z-index: 1000;

	.wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: space-between;
		padding-inline: 0.75rem;
	}

	&__brand {
		--header-logo-max-width: 240px;
		flex-shrink: 0;

		> * {
			max-width: var(--header-logo-max-width);
		}
	}

	&__nav {
		margin-inline: auto;
		padding-block: 0 0.5rem;
		padding-inline: 0;
		
		// parent navigation container
		> ul {
			align-items: center;
			display: flex;
			gap: 0.625rem;
			list-style-type: none;
			padding-inline: 0;
			
			// parent level link containers
			> li {
				position: relative;
			}
		}
		// styles for submenus
		.nav__sub-menu {
			--submenu-padding: 0.5em;
			
			background-color: var(--background-1);
			display: flex;
			flex-direction: column;
			gap: var(--submenu-padding);
			padding: 0;
			position: absolute;
			right: calc(var(--submenu-padding) * -1);
			text-align: right;
			transform: translateY(min(-160px, -200%));
			width: 24ch;
			z-index: 999;
			
			a {
				padding: var(--submenu-padding) calc(var(--submenu-padding) * 2);
				width: 100%;
				
				&:hover {
					background-color: var(--light-warm-gray);
					color: var(--black);
				}
			}
		}
		
		// styles for menu items with submenus, regardless of nesting depth
		ul li:has(.nav__sub-menu) {
			position: relative;
			overflow: visible;
			
			&:hover, &:focus, &:focus-within {
				.nav__sub-menu {
					border: 1px solid var(--warm-gray);
					box-shadow: 2px 2px 3px var(--warm-gray);
					transform: translateY(0);	
				}
			}
		}
		
		// styles for all links in nav, regardless of nesting depth
		a {
			color: var(--text-1);
			display: block;
			font-size: var(--size-scale-400);
			padding-block: 0.125lh;
			padding-inline: 0.5ch;
			text-decoration: none;
			text-transform: uppercase;
			
			&:hover {
				cursor: pointer;
			}
			
			&:visited {
				color: currentColor;
			}
			
			&:focus-visible {
				background-color: var(--pale-blue-transparent);
				color: var(--blue__dark);
				outline-offset: -2px;
				outline-color: var(--brand-color);
			}
			
			&[aria-current="page"] {
				&::after {
					background-color: var(--pink);
					bottom: -1px;
					content: ' ';
					display: block;
					height: 2px;
					left: 0;
					position: absolute;
					width: 100%;
				}
			}
		}
	}

	.nav__list {
		justify-content: center;
	}
}

@media screen and (min-width: map.get(vars.$breakpoints, "sm")) {
	.site-header {
		.wrapper {
			flex-direction: row;
			padding-inline: 1.25rem; // return to regular padding amount
		}

		&__nav {
			margin-inline: 0;
			padding-block: 0.5rem 0;
		}
	}
}
