.logo-strip-container {
	padding-block: var(--flow-space);
	
	p:first-child {
		font-size: var(--h3-size);
		text-align: center;
	}
	
	.logo-strip {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		margin-block: calc(var(--flow-space) / 2);
		
		> :is(a, img, picture)  {
			flex: 1 1 12%;
		}
		
		img {
			margin: auto;
			max-height: 72px;
		}
	}
}
