.text-block-with-image {
	--section-gap: 2rem;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: var(--section-gap);
	justify-content: space-between;
	
	.text-content {
		--flow-space: 1.5rem;
		flex-basis: calc(60% - var(--section-gap));
	}
	
	.image-container {
		flex-basis: calc(40% - var(--section-gap));
	}
}
