.page-wrapper section {
	padding-block: 3rem;
}

#values {
	background-color: var(--background-2);
	color: var(--white);
	
	&.grid-list {
		--grid-min-col-size: 285px;
		--grid-col-gap: 2rem;
		--grid-row-gap: 2rem;
	}
}
