@use "../blocks/pagination";

.blog-container {
	// blog feed pagination controls
	> .pagination {
		margin-block: 3rem;
		
		a {
			font-size: var(--h4-size);
		}
	}
}

.post-content {
	--flow-space: 1rem;
	
	max-width: 1024px;
	
	*:is(h1, h2, h3, h4) {
		margin-block-start: calc(var(--flow-space) * 3);
	}
	
	figure {
		margin-block: calc(var(--flow-space) * 2);
		margin-inline: auto;
		max-width: 560px;
		width: 100%;
	}
}

.feed-index__content#post-list {
	margin-block: 3rem 1rem;
	
	.post-list {
		display: grid;
		gap: 2rem 4rem;
		grid-template-columns: 1fr 1fr;
	}
	
	li {
		border: 1px solid var(--warm-gray__light);
	}
}

.post-list__item {
	display: flex;
	flex-direction: column;
	padding-block-end: 1rem;
	
	h2 {
		font-size: var(--h3-size);
		margin-block: 0.5rem;
	}
	
	> :not(picture) {
		padding-inline: 1rem;
	}
}

.post-list__author {
	font-size: var(--size-scale-400);
	line-height: 1.3;
	margin-block: 0.5rem 1.5rem;
}

.post-list__publish-date {
	margin-top: auto;
}

.post-header__heading {
	max-width: 36ch;
}
