{% set navPages = collections.all | eleventyNavigation %}
{% set headerCTA = [ {"url": "/", "text": "Join Newsletter", "buttonClass": "button--small"} ] %}
<header class="site-header">
	<a class="skip-link | button" href="#main-content">Skip to content</a>
	<div class="wrapper">
		<a href="/" aria-label="{{ meta.name }} - home" class="site-header__brand">
			<img src="/images/meta/logo.png" alt="" height="281" width="1000">
		</a>
		<nav class="site-header__nav" aria-label="Primary">
			<ul class="site-header__nav-menu">
				{%- for item in navPages -%}
				<li>
				{%- if item.children.length -%}
					<a href="{{ item.url }}">{{ item.title }}</a>
					<ul class="nav__sub-menu">
						{%- for child in item.children -%}
						<li>
							<a href="{{ child.url }}" {{ helpers.getLinkActiveState(child.url, page.url) | safe }}>
								{{ child.title }}
							</a>
						</li>
						{%- endfor -%}
					</ul>
				{%- else -%}
					<a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
						{{ item.title }}
					</a>
				{%- endif -%}
				</li>
				{%- endfor -%}
			</ul>
		</nav>
		{% if headerCTA[0] %}
		<div class="header-cta-container">
			<a class="button {{ headerCTA[0].buttonClass }}" href="{{ headerCTA[0].url }}">{{ headerCTA[0].text }}</a>
		</div>
		{% endif %}
	</div>
</header>
