<section class="logo-strip-container">
	<div class="wrapper">
		<p>As seen in:</p>
		<div class="logo-strip">
			<a href="https://money.usnews.com/money/retirement/articles/heres-how-gen-xers-are-catching-up-on-retirement-savings">
				<img src="/images/third_party_logos/us-news-world-report.png" alt="U.S. News World Report" />
			</a>
			<a href="https://www.forbes.com/sites/chriscarosa/2023/08/25/do-americans-really-need-43-million-to-retire/?sh=7d377736938e">
				<img src="/images/third_party_logos/forbes.png" alt="Forbes" />
			</a>
			<a href="https://www.forbes.com/advisor/mortgages/mortgage-to-income-ratio/">
				<img src="/images/third_party_logos/forbes-advisor.png" alt="Forbes Advisor" />
			</a>
			<a href="https://www.nasdaq.com/articles/tariffs-2025-4-ways-cut-back-necessities-amid-rising-prices">
				<img src="/images/third_party_logos/nasdaq.png" alt="NASDAQ" />
			</a>
			<a href="https://www.nasdaq.com/articles/tariffs-2025-4-ways-cut-back-necessities-amid-rising-prices">
				<img src="/images/third_party_logos/yahoo-finance.png" alt="Yahoo Finance" />
			</a>
			<a href="https://www.msn.com/en-us/money/retirement/4-things-your-neighbor-who-retired-early-won-t-tell-you-about-their-financial-plan/ar-AA1Fhr5G">
				<img src="/images/third_party_logos/msn.jpeg" alt="M.S.N." />
			</a>
			<a href="https://www.aol.com/finance/m-financial-advisor-think-time-110142191.html">
				<img src="/images/third_party_logos/aol.png" alt="A.O.L." />
			</a>
			<a href="https://www.thinkadvisor.com/2024/04/22/7-tips-for-helping-clients-who-overspend-advisors-advice/">
				<img src="/images/third_party_logos/think-advisor.png" alt="Think Advisor" />
			</a>
		</div>
	</div>
</section>
